[2021-07-24 14:52] kaiwalyakoparkar opened #1 "[Feature] Add labelling github action"

[2021-07-24 16:35] jayesh-srivastava commented on #1
Hi. Is there anything that needs to be done for this issue? Can you please explain a bit further?

[2021-07-24 16:52] kaiwalyakoparkar commented on #1
Hey @jayesh-srivastava We need to add github action which has custom labelling system to the project

[2021-07-24 17:06] jayesh-srivastava commented on #1
Hey, @kaiwalyakoparkar I haven't worked on something like this but I would love to work to. Will be searching on the internet and will try to add it. Can you assign me the issue?

[2021-07-24 17:39] kaiwalyakoparkar commented on #1
Oh! :facepalm: I just pulled the merge. But don't worry tomorrow I am going to add many issues which would interest you. So sorry for that. I actually had the branch ready for that. Seeing for collaborating with you over other issues :)

[2021-07-24 17:39] #1 closed

[2021-07-24 17:44] kaiwalyakoparkar opened #3 "[Bug] Label action not working on dev branch"
The recent label action which was added does not support the dev branch. Either dev branch should be added to the array of allowed branches or should be made available for all branches

[2021-07-24 17:53] jayesh-srivastava commented on #1
Hey no worries, will continue to contribute.

[2021-07-24 17:56] Cahllagerfeld opened #4 "[Bug] Readme"
### Describe the bug
`This bot is reserved for functionalities offered for community classroom community.`

In the readme, there's `community` doubled in one sentence.

If its intentional feel free to close the issue

[2021-07-24 18:07] vind3v17 commented on #4
@Cahllagerfeld Actually its the name of the Community - " Community Classroom "

[2021-07-24 18:54] #4 closed

[2021-07-25 02:58] #3 closed

[2021-07-25 03:02] kaiwalyakoparkar opened #7 "[Doc] Enhance Readme documentation"
Add the following to the readme
- Logo of community
- Greeting
- Contributor guideline
- commands available
- purpose
- socials
- contributors list

[2021-07-25 03:04] kaiwalyakoparkar opened #8 "[Feature] Add channel specific message filter"
Say suppose if a channel was created for sharing job opportunities. People tend to send irrelevant or spammy messages there (by mistake also) So the task is to build a system that will check specific keywords in a message like in this case [internship, job, intern], etc. If the message contains the keywords then only it will be sent to the channel else will be deleted.
This will confirm the purpos

[2021-07-25 03:14] kaiwalyakoparkar opened #9 "[Feature] Word restriction"
Implementing a block list with words related to other edTech startups/firms. If a message sender sends any word among this bot will raise and warning until the message is updated

[2021-07-25 03:37] kaiwalyakoparkar opened #10 "[Doc] Add Docasaurus or Docsify"
Need to add the following features
- Community information page
- Command listing page (separating in categories when commands grow)
- Community and contributing guidelines.

[2021-07-25 04:52] kaiwalyakoparkar commented on #9
With the latest push this problem is solved how did I do it
- Declared a trigger in index js
- Created a dictionary of prohibited words of edTech startup
- Convert the input message into lowercase
- Now check if the word is present in this converted message from the dictionary.
- if yes warn in public and dm
- if not don't do anything

[2021-07-25 04:52] #9 closed

[2021-07-25 05:10] kaiwalyakoparkar opened #13 "[Feature] Warning for profane language"
As a community being inclusive is important and language plays a big role in keeping a community inclusive. Feature request to warn people for not using English or using profane or slangs in the chat.

[2021-07-25 05:20] kaiwalyakoparkar opened #14 "[Bug] edTech word list too small"
We are against scammy edTech startups. We want to avoid people talking about it in the community. The warning system is implemented but the library is very small. The task is to add more words to list so it becomes more flexible.

[2021-07-25 05:25] ItsMeIshan commented on #14
hey, @kaiwalyakoparkar I have successfully set up the project and I would like to contribute and work on this issue. can you please clarify how we will be adding more words for eg: adding words in the array or any better approach for it?

[2021-07-25 05:44] ItsMeIshan commented on #14
I found out the file ```restrictedWords.js``` for the words so do we have to add more words in that array?
@kaiwalyakoparkar

[2021-07-25 06:15] jayesh-srivastava commented on #7
Hey @kaiwalyakoparkar I would like to work on this. Just wanted to clarify all the contents which need to be added. Also can I assign the issue to myself.

[2021-07-25 06:23] jayesh-srivastava commented on #14
Hey @ItsMeIshan Can you tell me how to set up the project?

[2021-07-25 06:26] ItsMeIshan commented on #14
hey @jayesh-srivastava I have created a [discussion](https://github.com/kaiwalyakoparkar/classroom-monitor-bot/discussions/12) for setting up the project and its pretty easy lets hop in!!

[2021-07-25 06:29] SriSatyaT commented on #13
I want to give it a shot.

[2021-07-25 06:32] SriSatyaT commented on #13
Hey @kaiwalyakoparkar. I want to give it a shot to this issue.

[2021-07-25 06:39] kaiwalyakoparkar opened #15 "[Doc] Add setup details"
Adding how to setup and contribute to the bot.

[2021-07-25 06:40] kaiwalyakoparkar commented on #13
@SriSatyaT Good to hear that. Go for it if you need any help let me know :)

[2021-07-25 06:43] kaiwalyakoparkar commented on #14
@ItsMeIshan Thanks you so much helping other folks and willing to contribute. Do one thing add words as you think as of now. And create a PR. and as soon as I confirm the list proposed by you I will merge it. So I can give suggestions and you can edit on the go. If you want you can also create draft PR for the same.
Go for it. I will assign this issue to you :) If you need any help let me know.

[2021-07-25 06:44] kaiwalyakoparkar commented on #7
@jayesh-srivastava Thanks for your interest. I will assign this to you, You can refer to my other bot projects and points mentioned below to create a good readme. If you need any help let me know

[2021-07-25 06:46] jayesh-srivastava commented on #7
Sure @kaiwalyakoparkar, just if you can a link of your previous bot's repo, that would be great.

[2021-07-25 06:47] kaiwalyakoparkar commented on #7
@jayesh-srivastava Sure, here you go [Repo Link](https://github.com/kaiwalyakoparkar/Lilliputian-Bot/)

[2021-07-25 06:47] ItsMeIshan commented on #14
that's really awesome I am getting started now!!

[2021-07-25 06:49] jayesh-srivastava commented on #7
Thanks @kaiwalyakoparkar, gotta start working on the README.

[2021-07-25 06:51] jayesh-srivastava commented on #7
Also, just wanted to ask, can I not all add the features at once? Like some features after some. Will you approve the PR?

[2021-07-25 06:52] kaiwalyakoparkar commented on #7
I would encourage separate pr for every feature that would help me in reviewing and moving it to production.

[2021-07-25 06:53] jayesh-srivastava commented on #7
That's great. Exactly what I wanted. Thanks.

[2021-07-25 06:55] Ciggzy1312 commented on #15
I just ended up setting up the bot
So I can sort it out

[2021-07-25 06:55] SriSatyaT commented on #13
@kaiwalyakoparkar Sure!

[2021-07-25 06:57] kaiwalyakoparkar opened #16 "[Bug] Change prefix to " cm! ""
The current prefix to call bot is `cc!` which does not match with the initials of the bot. Task is to change the prefix to `cm!` so that it matches the initials of the bot.

[2021-07-25 07:00] kaiwalyakoparkar commented on #15
@Ciggzy1312 That's awesome :boom:! So you can make a pr to add it to readme temporarily. As we are going to have a frontend for docs and all in the coming future. Go ahead I will assign this to you. If you need any help. Let me know :slightly_smiling_face:

[2021-07-25 07:00] Ciggzy1312 commented on #16
I can work on this also :)

[2021-07-25 07:01] Ciggzy1312 commented on #15
Sure

[2021-07-25 07:03] kaiwalyakoparkar commented on #16
@Ciggzy1312 I like your enthusiasm. But as you already have taken 1 issue I would recommend complete that first and then come to this. And we can also give this opportunity to some absolute beginners to get started with this project. Many issues are coming soon for us :slightly_smiling_face:

[2021-07-25 07:05] Ciggzy1312 commented on #16
Yeah sure

[2021-07-25 07:07] ItsMeIshan commented on #14
hey @kaiwalyakoparkar i have selected some words but as we start adding more words in array the linear search implemented will make our code slow so what i have thought that before using array we can use ```.sort()``` method and then i can implement binary search to get a Big oh complexity of ```log n ```. Do tell me your views on it!

[2021-07-25 07:14] kaiwalyakoparkar commented on #14
If that works correctly. I don't have any problem you can go for it. Just check every possible scope

[2021-07-25 07:21] jayesh-srivastava commented on #7
Hey @kaiwalyakoparkar , added the first feature and made the PR. Needs your approval.

[2021-07-25 08:11] Amrutha1101 commented on #16
Can I work on this issue ?

[2021-07-25 08:26] Amrutha1101 commented on #16
Hey, I've changes it in help.js, hey.js, links.js and also in restricted words.js too

[2021-07-25 08:37] jayesh-srivastava commented on #7
Hey @kaiwalyakoparkar can you please share what is to written under contributor guidelines and commands available?

[2021-07-25 08:41] jayesh-srivastava commented on #7
Also now that I have made the original PR as the draft, after adding new features, I will have to edit that PR comment only and not will be able to send a new PR. Is that okay?

[2021-07-25 08:41] ItsMeIshan commented on #14
hey, @kaiwalyakoparkar please check the list of the words and suggest if more is to be added.

[2021-07-25 08:57] Cahllagerfeld commented on #8
I'd say you should first be sure how you want to get the black/whitelist with words.

- These Wordlists need to stored in a database together with the channelID
- Then you need the `onMessage` Event and check for the channel which the message got sent in
- If there is a entry for the channelID in the database you have to get your wordlist
- validate your message against the wordlist from the datab

[2021-07-25 09:02] kaiwalyakoparkar commented on #8
I guess we are not adding DB as of now. (We can always try but). The idea is like we will add a allow list and if the user message has any of the words from the allowlist we will do nothing but if there isn't any word matching we will delete that message. Also, this bot is dedicated to only 2 servers. Should we still go for DB?

[2021-07-25 09:05] kaiwalyakoparkar commented on #7
Okay, current commands can be found if you do `cc!help` and do one thing. Open a separate issues for separate features and make PR's to solve them 1 by 1. That would be a more systematic approach.

[2021-07-25 09:05] Cahllagerfeld commented on #8
It depends. When not using a database you cant add channels dynamically. You would probably have to hardcode your channelIds which I definitely wouldnt do, or store it in-memory. Storing it in-memory would mean that after a reboot all data is lost. I htink thats a thing you have to decide.

[2021-07-25 09:09] kaiwalyakoparkar commented on #8
Umm. You are correct. :thinking: I will get back to you on your dm's or here when I figure out what approach could be followed.

[2021-07-25 09:10] kaiwalyakoparkar commented on #16
@Amrutha1101 Sure, Go ahead. I will assign this to you. If you need any help let me know :)

[2021-07-25 09:13] jayesh-srivastava commented on #7
Yeah, that would be great. Thanks @kaiwalyakoparkar

[2021-07-25 09:17] jayesh-srivastava commented on #7
Should I only make separate PRs or open new issues and make the PRs?

[2021-07-25 09:17] Amrutha1101 commented on #16
Basically, I'll have to change cc to cm in
-hey.js
-help.js
-links.js
-restrictedWords.js
-config.json right?

[2021-07-25 09:20] kaiwalyakoparkar commented on #16
No actually just go to `config.json` and change there

[2021-07-25 09:21] kaiwalyakoparkar commented on #7
what more changes do you have in mind?

[2021-07-25 09:23] Amrutha1101 commented on #16
Ok

[2021-07-25 09:25] jayesh-srivastava commented on #7
I have some. Like what you mentioned in the issue, those and some other like about section. I'll do one thing, I'll open up separate issues and make the PRs for them. Sounds good?

[2021-07-25 09:28] kaiwalyakoparkar commented on #7
Okay let me clear a thing. I guess I confused it.
In your current PR you should submit complete readme.
- Icons
- welcome
- about
- setting up project
- contributing guidelines
- Thanking contributor
Other things can be added by opening new Issue and PR

[2021-07-25 09:29] kaiwalyakoparkar commented on #7
Okay let me clear a thing. I guess I confused it.
In your current PR you should submit complete readme.
- Icons
- welcome
- about
- setting up project
- contributing guidelines
- Thanking contributor
Other things can be added by opening new Issue and PR

[2021-07-25 09:32] jayesh-srivastava commented on #7
Okay got it. No worries, anytime you feel like clearing up anything, just text. I am always available.

[2021-07-25 09:33] kaiwalyakoparkar commented on #7
@jayesh-srivastava no problem. Hope it's a bit more clear now. We need a basic doc (with the above sections) to release the first stable version.

[2021-07-25 09:37] jayesh-srivastava commented on #7
@kaiwalyakoparkar Yeah.

[2021-07-25 09:38] jayesh-srivastava commented on #7
One thing I forgot to ask, what to write in contributors guidelines. @kaiwalyakoparkar

[2021-07-25 09:38] kaiwalyakoparkar opened #22 "[Bug] Change Discord server link in Greetings action"
This Greeting workflow was generated from different repo so has old Discord link which has to be replaced with `Community Classroom` Discord server.
**Community Classroom Discord:** https://discord.gg/K9kxUXvfND

[2021-07-25 09:42] kaiwalyakoparkar commented on #7
@jayesh-srivastava Redirect them to contributing.md with a nice message. (Add a link of it basically)

[2021-07-25 09:49] jayesh-srivastava commented on #7
Sure got it.

[2021-07-25 10:20] vind3v17 commented on #22
Hey @kaiwalyakoparkar Could you assign me this issue. I would like to work on it.

[2021-07-25 10:21] kaiwalyakoparkar commented on #22
@vind3v17 Sure, Go for it. If you need any help let me know.

[2021-07-25 10:53] vind3v17 commented on #22
Yes Sure. Thankyou!

[2021-07-25 11:54] #22 closed

[2021-07-25 12:02] kaiwalyakoparkar opened #24 "[Bug] Commands reply have old `cc` form"
Recently bot initial was changed from `cc` to `cm` (Ref. ). But the bot replies still have `cc` written in them. The task is to go through bot commands and change wherever `cc` is written with `cm`.
Eg:
`Just cc!help away` to
`Just cm!help away`

[2021-07-25 12:06] Amrutha1101 commented on #24
I can contribute to this too can you assign it

[2021-07-25 12:06] kaiwalyakoparkar opened #25 "[Feature] Add description/status to the bot"
Many bots have a `Listening to !help` kind of status which helps user to navigate and get familer with bot. Currently it is not present in Classroom monitor. Task is to set up status for bot.

[2021-07-25 12:10] kaiwalyakoparkar commented on #16
As this issue is solve in pr no #21 I will close it. New related issue #24

[2021-07-25 12:11] #16 closed

[2021-07-25 12:14] kaiwalyakoparkar commented on #24
@Amrutha1101 I like your enthusiasm. Go for it. I will assign it to you :boom:

[2021-07-25 14:21] vind3v17 commented on #25
Hey @kaiwalyakoparkar I would like to work on this.

[2021-07-25 14:23] vind3v17 commented on #25
Could you plz tell me if I should add the code for Activity/Status directly into index.js?

[2021-07-25 17:24] SriSatyaT commented on #13
@kaiwalyakoparkar I have some doubts. Lets have a discussion?

[2021-07-26 03:13] kaiwalyakoparkar commented on #25
@vind3v17 You will have to add code basically. Refer [this](https://github.com/kaiwalyakoparkar/Lilliputian-Bot/blob/main/Commands/presence.js) you will have to create separate file in Commands **Not in index.js**

[2021-07-26 03:43] kaiwalyakoparkar opened #28 "[Bug] Deleting user's messages"
## Current Scenario
When a person talks about an edTech startup then the bot warns him in public and private.

## Required Scenario
When a person talks about an edTech startup then both warn him in public and private and also delete's him/her/their message.

[2021-07-26 03:47] juuz0 commented on #28
I would like to work on it :)

[2021-07-26 03:50] vind3v17 opened #29 "[Bug] Broken Image link"
### Describe the bug
**A clear and concise description of what the bug is :**
In the Readme.md file, the image link for 8th step for Setting Up the bot in local Environment is broken.

## Screenshots

![Screenshot_20210726-090739_Chrome](https://user-images.githubusercontent.com/83384807/126930405-835e123e-885b-402a-a71d-d5e16aee4806.jpg)

[2021-07-26 03:50] kaiwalyakoparkar commented on #28
Sure, go for it. Just make sure you test the following thing and add screenshots of same in PR
- Bot sees the message (You don't have to do anything here tbh)
- Bot warns the user is private and public
- and then deletes the message
Please make sure the bot follows the same order of execution. If possible add a gif in your PR. I will assign it to you. Lemme know if you need any help :slightly_smil

[2021-07-26 05:23] SriSatyaT commented on #13
@kaiwalyakoparkar Have an issue.
![general - Google Chrome 26-07-2021 10_51_20](https://user-images.githubusercontent.com/78905067/126937100-6a190274-82c1-45ea-8b80-9f4504769fd8.png)
bot is popping a message when I use restricted words as well.

[2021-07-26 05:23] SriSatyaT commented on #13
Let's have a discussion?

[2021-07-26 05:38] juuz0 opened #33 "[Doc] Update Readme with commit example"
## Add conventional commit guidelines

The project uses conventional commits specifications, but that isn't very known among beginners.
Adding an example commit message would help greatly.

**Check List (Check all the boxes which are applicable)**

- [ ] Information addition regarding the newest change through a PR
- [ ] Typo error.
- [x] New category addition.
- [ ] Refractoring sentences that ma

[2021-07-26 06:04] VDA-001 commented on #29
Hey @kaiwalyakoparkar, I have fixed this issue and raised a pr and wanted to know if it's ok to work on simple issue's without getting assigned if nobody is working on it

[2021-07-26 06:39] kaiwalyakoparkar commented on #29
@VDA-001 Thanks for your enthusiasm. It is always recommended to stop until you get an issue assigned. This helps maintainers keep track also creates fewer conflicts. Hope you understand what I am trying to put forward :slightly_smiling_face:

[2021-07-26 06:44] VDA-001 commented on #29
@kaiwalyakoparkar yep sorry for that, I was a bit confused but now its clear

[2021-07-26 06:52] kaiwalyakoparkar commented on #29
@VDA-001 Awesome. No worries. I will assign it to you so it gets confirmed

[2021-07-26 06:54] #29 closed

[2021-07-26 06:58] kaiwalyakoparkar commented on #28
Thanks for raising a PR and solving this issue :slightly_smiling_face:

[2021-07-26 06:58] kaiwalyakoparkar commented on #28
Please mention issues in your PR from next time. It will close issue automatically :smile:

[2021-07-26 06:58] #28 closed

[2021-07-26 06:59] #24 closed

[2021-07-26 06:59] #14 closed

[2021-07-26 07:01] juuz0 commented on #28
Sure thanks for letting me know! :D

[2021-07-26 07:13] Amrutha1101 commented on #33
hey @kaiwalyakoparkar  this should be added into readme right? can I work on this issue?

[2021-07-26 07:19] kaiwalyakoparkar commented on #33
Hey @Amrutha1101 Why not, go for it :smile: . Remember to include proper steps to create commit like eg `feat :emoji: changes`. You could include
- How to decide in `feat`, `fix`, `doc`, `chor`, `style` and many more refer [this](https://gist.github.com/qoomon/5dfcdf8eec66a051ecd85625518cfd13#types)
- How to get `:emoji-unicode-id:`
- How to write good commit message

[2021-07-26 07:31] kaiwalyakoparkar commented on #8
Hey @Cahllagerfeld your idea of DB was great. We will use DB for that. Let me know when you are free in my DM's then if you want we can pair on it. As it's bit difficult for me alone

[2021-07-26 07:36] AAB007209 commented on #10
Hi @kaiwalyakoparkar Bro . I want to work on this issue , could you guide me ?

[2021-07-26 07:47] kaiwalyakoparkar commented on #10
@AAB007209 Thanks for your interest. Go for it. I will assign it to you. If you need any help let me know :smiley:
- Docsify reference [docs](https://docsify.js.org/#/), [video](https://youtu.be/I9gvygtus7Q)
- Docasaurus reference [docs](https://docusaurus.io/), [video](https://youtu.be/I-hYKNgaMmE)
- Example what we have to make like [this](https://www.beccalyria.com/discord-documentation/#/creat

[2021-07-26 07:49] AAB007209 commented on #10
Thank you Brother. Will be Starting working on this issue now.

[2021-07-26 08:15] AAB007209 commented on #10
Hi Brother, can you provide me with Community classroom logo png ?

[2021-07-26 08:29] kaiwalyakoparkar commented on #10
yes sure.
![Community-Classroom-Icon-PNG](https://user-images.githubusercontent.com/53310847/126958316-63cde81d-49a3-4148-b8ac-6f8ce7244669.png)
![Community-Classroom-Icon-Square](https://user-images.githubusercontent.com/53310847/126958323-20087557-789b-4bda-8e7d-4c4d4ce624a8.png)
![Logo-Text-Square](https://user-images.githubusercontent.com/53310847/126958324-62bc5028-1b67-435b-8e56-741d3c26924e

[2021-07-26 09:14] SriSatyaT commented on #13
@kaiwalyakoparkar Facing an issue here.
![general - Google Chrome 26-07-2021 10_51_20](https://user-images.githubusercontent.com/78905067/126964806-bf734a75-cb34-4ba2-84be-c257e5fa833f.png)

[2021-07-26 11:33] #7 closed

[2021-07-26 11:35] kaiwalyakoparkar commented on #13
@SriSatyaT okay, don't worry. I will help you with some resources and will look into the issue.

[2021-07-26 11:53] kaiwalyakoparkar opened #35 "[Feature] Contributor banner at the footer of Readme"
We would like to have a contributor footer like [this](https://github.com/kaiwalyakoparkar/sense-hacker#team-members--contributors). The current one is just the maintainer name.

[2021-07-26 12:15] indujaaaa commented on #35
Hey @kaiwalyakoparkar, I'd like to contribute to this issue!

[2021-07-26 12:38] kaiwalyakoparkar opened #36 "[Feature] English restriction to be added"
People sometimes start talking in their native language which is not understood by all and hence suppresses the aim of inclusiveness. The bot should have some feature to restrict use of external words.

[2021-07-26 12:39] kaiwalyakoparkar commented on #35
Hey @indujaaaa, Thanks for your interest. Go for it. I will assign it to you. Lemme know if you face any difficulties.

[2021-07-26 12:56] indujaaaa commented on #35
Does this look good? @kaiwalyakoparkar

![Screenshot](https://user-images.githubusercontent.com/53386868/126992084-ace3be36-bbc5-4929-9097-ca78495f90a2.png)

[2021-07-26 13:35] nikhilisaac commented on #36
you want a new bot or want this functionality added to an existing bot @kaiwalyakoparkar

[2021-07-26 13:37] juuz0 commented on #36
Would a regex solution be allowed?
If yes, I would like to work on it!

[2021-07-26 13:50] juuz0 commented on #36
I'm not sure how that's achievable

I only see two ways,

1. Do a regex search for **only** English characters, numbers and special characters.
This wouldn't really be an optimal solution since a lot of Hindi/Urdu users write their language using English letters on platforms

2. Use an API like wordnik to search within English dictionaries and if failed, tell the user to edit their message.
This l

[2021-07-26 14:03] nikhilisaac commented on #36
languagelayer api should also work  @juuz0
the first option will be too cumbersome and most of the violations will go undetected
 another suggestion is to add a translation function which may help people who have trouble communicating in english but I dont know whether it will be able to do that for Hindi words written in English script

[2021-07-26 18:22] jayesh-srivastava opened #37 "[Doc] Update README file with the contributors list."
We need to add a 'Contributors List' section in the README file where the names of all the current contributors should be displayed. The names should be a link that will direct any user to the contributor's GitHub profile.

[2021-07-26 21:13] VarunSAthreya commented on #37
We can use [this](https://contrib.rocks/preview) website directly to generate dynamic contributor's list.

[2021-07-26 21:32] VarunSAthreya opened #39 "[Bug] Typo in the pull request template"
### Describe the bug
**A clear and concise description of what the bug is:**

There is a typo in the pull request template.
In the 5<sup>th</sup> checklist under the  `Check List (Check all the boxes which are applicable)`  part. It must be `plagiarized` instead of `plagarised`.

### To Reproduce
**Steps to reproduce the behavior:**
1. Go to [here.](https://github.com/kaiwalyakoparkar/classroom-mo

[2021-07-27 09:53] AAB007209 commented on #10
Brother, I am stuck little what should i do now ?

[2021-07-27 10:51] kaiwalyakoparkar commented on #10
@AAB007209 Can you explain the problem?

[2021-07-27 10:54] kaiwalyakoparkar commented on #39
Thanks for reporting. Let me know if you would like to work on this :smile:

[2021-07-27 11:05] VarunSAthreya commented on #39
Yaa sure.

[2021-07-27 11:32] kaiwalyakoparkar commented on #36
Awesome thoughts @juuz0 and @nikhilisaac :boom: Should we create a discussion and discuss this as this is an essential feature for the bot.

[2021-07-27 13:12] AAB007209 commented on #10
Yes brother. I have made 3 windows. first one is about coverpage and welcome to community page. Second window is a about community discord commands then third one about community contirbuting guidelines.
The problem is in second window my page is static. It is not scrolling at all.

![2021-07-27](https://user-images.githubusercontent.com/62844406/127159241-af1f4976-fb6c-4c08-9227-ec8b120c79c7.png)

[2021-07-27 13:57] kaiwalyakoparkar commented on #10
okay I will point out possible solutions
- Check if there is any typo while configuring something
- Try changing browsers etc
- See if you enable the scrolling settings (if any)
Try these solutions and let me know if it gets solved or not else we will have to collab over it through `Live Share` extension of VS code

[2021-07-27 14:14] AAB007209 commented on #10
@kaiwalyakoparkar I searched on Stackoverflow and got the solution bro. Thank you

[2021-07-27 14:17] AAB007209 commented on #10
I had one more doubt, from becca lyria docs what all commands i should add from manual commands section ?

[2021-07-27 16:13] kaiwalyakoparkar opened #42 "[Feature] Convert the Issue templates with newer format."
The current issues template is in the `.md` file we need to convert them to the `.yml` file which provides newer features while raising issues.

[2021-07-27 18:16] VDA-001 commented on #42
Hey @kaiwalyakoparkar, I would like to try this issue!

[2021-07-28 03:43] nikhilisaac commented on #36
sure

[2021-07-28 17:28] kaiwalyakoparkar commented on #36
Awesome @nikhilisaac Would you like to go ahead and create one discussion (If not opened already)? :smile:

[2021-07-28 17:29] kaiwalyakoparkar commented on #42
@VDA-001 Sure go ahead. I will assign this to you. If you need any help let me know :smiley:

[2021-07-28 17:44] kaiwalyakoparkar commented on #37
@jayesh-srivastava A issue is already present regarding this #35 . This is a duplicate of current issue so sadly I will have to close it. Please check through opened/closed issue before raising an issue. The current problems
- The first issues #35 is already assigned
- @VarunSAthreya made a PR based on this issue
- The assigned member is not aware of this

Possible solution:
- I will follow up wit

[2021-07-28 17:50] kaiwalyakoparkar commented on #35
Hey, @indujaaaa just a follow-up. Are you working on it? Or did you start working on it? The reason for the follow-up was someone just created PR #38 fixing this issue. If you started already don't worry I will discard that PR until yours comes in. Or if you are fine with that PR let me know. There are many issues you can still work on :smiley:

[2021-07-28 18:22] indujaaaa commented on #35
@kaiwalyakoparkar I'd finished working on it back then, I was just awaiting your reply before I make the PR. I'll make the PR now!

[2021-07-29 05:57] utkarsh1311 opened #46 "[Bug] The bot isn't recognizing edTech names due to different letter case."
### Describe the bug
**The list for edTech startups in restrictedWords.js is small and the bot isn't picking up some words in conversation due to the letter case. The bot recognizes "code for cause" as an edTech name but doesn't recognize "Code for cause" due to different letter case.**

### To Reproduce
**Steps to reproduce the behavior:**
1. Go to 'restrictedWords.js'
2. Add more edTech names to

[2021-07-29 06:35] VDA-001 commented on #42
Hey @kaiwalyakoparkar, I am getting the following error while trying to commit....not sure what husky is

⧗   input: Converting .md files to .yaml
✖   subject may not be empty [subject-empty]
✖   type may not be empty [type-empty]

✖   found 2 problems, 0 warnings
ⓘ   Get help: https://github.com/conventional-changelog/commitlint/#what-is-commitlint

husky - commit-msg hook exited with code 1 (err

[2021-07-29 11:44] kaiwalyakoparkar commented on #42
@VDA-001 add commit message as `fix: :gear: Converted issue template from md to yml format`  This is Conventional commits. You can also read section in Readme file regarding this. If you add this commit message it will pass the tests

[2021-07-29 11:45] kaiwalyakoparkar commented on #46
Can you add screenshots and all to describe the issue more clearly?

[2021-07-29 11:49] kaiwalyakoparkar commented on #35
@indujaaaa Ok! Thank you so much. I will do the needful! :+1:

[2021-07-29 11:51] kaiwalyakoparkar commented on #37
@jayesh-srivastava As that being said. The earlier assignee has raised a PR so I am closing this issue and the related PR made corresponding to this issue. Hope you understand :slightly_smiling_face:

[2021-07-29 11:52] #37 closed

[2021-07-29 11:59] VDA-001 commented on #42
Ohh ok got it, thank you.

[2021-07-29 17:07] bamblebam opened #48 "[Feature] Detect when someone tags supreme mentor for no reason and issue a warning"
### Is your feature request related to a problem? Please describe.
**A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]**
A lot of people just tag kunal for asking the simplest of doubts, this can be really disturbing.

### Describe the solution you'd like
**A clear and concise description of what you want to happen.**
Just detect his name and issue a warn

[2021-07-29 17:17] bamblebam opened #49 "[Feature] Add a centralized naughty list 🎅"
### Is your feature request related to a problem? Please describe.
**A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]**
We already have certain rules in place and will have more in the future. Issuing warnings is useless if we don't take any action against the repeat offenders.

### Describe the solution you'd like
**A clear and concise description of wh

[2021-07-30 04:37] kaiwalyakoparkar commented on #49
Nice idea. Would you like to create a discussion for the same? We will discuss it there.

[2021-07-30 04:41] kaiwalyakoparkar commented on #48
Hey, I appreciate your idea. But Kunal has clearly stated that's it's okay to tag him. So taking action for the same wouldn't be a good idea. Kunal has told me to not do so specifically. So I am really sorry, I won't be able to take this idea forward. Hence I am closing this. Hope you understand :slightly_smiling_face:

[2021-07-30 04:41] #48 closed

[2021-07-30 14:16] bamblebam commented on #49
sure I will create a discussion

[2021-07-30 14:19] bamblebam commented on #49
https://github.com/kaiwalyakoparkar/classroom-monitor-bot/discussions/52
Here is the link for the discussion

[2021-07-30 17:32] Ciggzy1312 opened #53 "[Feature]Add the bootcamp roadmap repository link to the links command"
### Is your feature request related to a problem? Please describe.
Most people are asking for the repository link which will be followed in the bootcamp

### Describe the solution you'd like
We can add the repository link to the links command section

[2021-07-30 18:25] VDA-001 opened #54 "[Bug] Wrong command on README.md"
### Describe the bug

Wrong command to create new git branch on README.md

Output:
error: unknown switch `b'

### To Reproduce
**Steps to reproduce the behavior:**
Change 'git branch -b (your-branch-name)' to 'git checkout -b (your-branch-name)'

### Expected behavior
Create a new branch and move into it

### Screenshots/ Video

![CommandError](https://user-images.githubusercontent.com/67089703/12

[2021-07-30 20:56] bamblebam commented on #54
Yeah this should be: git checkout -b ＜new-branch＞

[2021-07-30 20:59] bamblebam opened #55 "[Feature] To add an automated response for frequently asked questions."
### Is your feature request related to a problem? Please describe.
**A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]**
A lot of people ask the same question 346346557 times a day. Eg: What should I do if I learned C++ instead of java.
Create an automated response functionality will be easier for all.

[2021-07-31 10:05] kaiwalyakoparkar commented on #55
Thanks, @bamblebam Would you like to go ahead and work on this?

[2021-07-31 10:06] kaiwalyakoparkar commented on #54
Oh! Nice spot @VDA-001 would you or @bamblebam would like to work on this?

[2021-07-31 10:09] kaiwalyakoparkar commented on #53
Nice thought @Ciggzy1312 Would you like to work on this?

[2021-07-31 10:12] #39 closed

[2021-07-31 10:14] #42 closed

[2021-07-31 10:20] #33 closed

[2021-07-31 10:20] #25 closed

[2021-07-31 10:20] #15 closed

[2021-07-31 10:23] VDA-001 commented on #54
oh yeah sure!

[2021-07-31 11:17] Ciggzy1312 commented on #53
Yes

[2021-07-31 11:18] kaiwalyakoparkar commented on #53
Okay, Go ahead I have assigned this to you. If you face any issues let me know.

[2021-07-31 11:20] kaiwalyakoparkar commented on #54
Okay, @VDA-001 go ahead. I have assigned this to you

[2021-08-01 05:32] bamblebam commented on #55
No. I have internships rn so don't have much time.

[2021-08-01 14:10] vind3v17 opened #59 "[Bug]: Update the Old Discord URL to Vanity URL"
### Describe the bug

We should Update the Previous Discord URL to the new Vanity URL

[2021-08-01 14:12] vind3v17 commented on #59
Should I work on it?

[2021-08-01 15:05] kaiwalyakoparkar commented on #59
Yeah, why not! Go for it. I have assigned it to you :smiley: If you need any help let me know!

[2021-08-01 15:13] #35 closed

[2021-08-02 05:05] #53 closed

[2021-08-02 09:23] kaiwalyakoparkar opened #62 "[Bug]: `cm!dsa` command not working"
### Describe the bug

The bot does not respond with an embed with typed `cm!dsa`

### To Reproduce

- Go to community classroom server
- Go to #bot-spam
- type `cm!dsa`

### Expected Behavior

It should return the embed present in `Commands/DSA.js` file

### Screenshot/ Video

_No response_

### Desktop (please complete the following information)

_No response_

### Additional context

_No respons

[2021-08-02 11:35] VDA-001 commented on #62
Hey @kaiwalyakoparkar, the command is working fine
![discord](https://user-images.githubusercontent.com/67089703/127855316-03cda2f2-2542-4559-92fc-7d8ab52ca84f.png)

[2021-08-02 13:52] kaiwalyakoparkar commented on #62
Thank you so much for informing @VDA-001 I guess when I opened this issue it was under release cycle so might have caused some delay. I will close this issue now

[2021-08-02 13:53] #62 closed

[2021-08-02 17:47] VDA-001 commented on #55
Hey @kaiwalyakoparkar, I'll be happy to work on this with some help

[2021-08-03 04:33] utkarsh1311 commented on #46
Sure.
As you can see in the screenshot provided below, use *cool dude* mentioned Code for Cause in his message. But the **classroom-monitor-bot** was not triggered due to *C* being in the upper-case in the **Code for Cause** word.
This is the problem that I want to solve by adding different letter-case examples in the list of edTech startups in ```restrictedWords.js``` and also adding some additio

[2021-08-03 08:05] kaiwalyakoparkar commented on #46
Alright, @utkarsh1311 I understood the error. The bot was not online at that time as I ran out of Heroku credits. If you try the same word now. You will get the same warning. :smiley: I am closing this issue as it was just bot availability problem :slightly_smiling_face:

[2021-08-03 08:05] #46 closed

[2021-08-03 08:07] kaiwalyakoparkar commented on #55
@VDA-001 Go for it. I have assigned this to you. Let me know if you need any help

[2021-08-03 08:35] #59 closed

[2021-08-03 12:57] bamblebam commented on #54
@VDA-001 are you having difficulties with this ?

[2021-08-03 13:01] VDA-001 commented on #54
@bamblebam Nope I have already submitted the pr for this issue

[2021-08-03 13:05] #54 closed

[2021-08-03 13:06] VDA-001 commented on #54
@kaiwalyakoparkar I have submitted the pr for this, Is there anything else to add

[2021-08-03 13:15] VDA-001 commented on #55
Is it necessary to add automated support. Because I thought of adding command such as cm!faq for all FAQs as the priority is low

[2021-08-03 14:21] bamblebam commented on #55
We already have FAQ's. The thing is no one actually bothers to read it.

[2021-08-03 16:29] VDA-001 commented on #55
Well I don't think we have command or channel for that. And by the way I have no knowledge in ML so if this has to be only automated then I would like to leave this issue for other contributors, or else if it is ok to just have a command for this then I'll be happy to go with this issue

[2021-08-06 12:38] AAB007209 commented on #10
@kaiwalyakoparkar Bro ?

[2021-08-09 06:01] kaiwalyakoparkar commented on #10
@AAB007209 Don't add anything like that. Just make a page of all user commands. And admin-only command. Sorry for the late reply though :slightly_smiling_face: I appreciate your patience

[2021-08-13 23:59] ctnkaan opened #64 "[Feature]: Hindi and English translation"
### Is your feature request related to a problem? Please describe.

I'm thinking of adding a Hindi to English and English to Hindi translation feature if this feature is not already implemented.
I thought about this feature because the community is mainly made out of Indian students and even though everyone speaks English 95% of the time it might help non Hindi speakers 5% of the time.

It might a

[2021-08-14 00:01] ctnkaan commented on #64
@kaiwalyakoparkar Feel free to assign me to this issue if you find it cool.

[2021-08-14 05:50] kaiwalyakoparkar commented on #64
@ctnkaan really great thought. I have assigned it to you. If you need any help please do let me know.

[2021-08-20 14:02] ctnkaan commented on #64
Closing this because of PR #65

[2021-08-20 14:02] #64 closed

[2021-08-20 14:10] ctnkaan opened #66 "[Feature]: Reddit Programmer Memes"
### Is your feature request related to a problem? Please describe.

We have a memes channel in the Discord server. I think it would be fun to have a command so the bot can send memes from r/programmerhumor. Specially r/programmerhumor because some memes from other subreddits have a chance to be offensive.

### Describe the solution you'd like

I already have a working demo of a Discord Reddit Bot

[2021-08-20 16:24] ctnkaan commented on #36
PR #65 kind of solves this issue.

[2021-08-20 17:46] ctnkaan commented on #66
@kaiwalyakoparkar feel free to assign me to this if you want it to be implemented 👍

[2021-08-21 05:33] #36 closed

[2021-08-21 05:34] kaiwalyakoparkar commented on #66
@ctnkaan this sounds fun. Go ahead with it. I will assign this to you :)

[2021-08-23 17:18] ctnkaan commented on #66
Closing this because of PR #68

[2021-08-23 17:18] #66 closed

[2021-08-23 17:21] ctnkaan commented on #55
I can work on this issue if its abandoned.

[2021-08-24 01:41] VDA-001 commented on #55
Sure @ctnkaan, I am not working on this issue, you can go ahead with this.

[2021-08-24 16:52] kaiwalyakoparkar opened #69 "[Feature]: Add Cucumber tests"
### Is your feature request related to a problem? Please describe.

There are no tests to check the authenticity and integration of the pull requests

### Describe the solution you'd like

Writing cucumber tests to ensure the ci and cd

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-08-27 05:37] voidz7 opened #71 "[Feature]: Adding a command which provides you with the GitHub repository link"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Making a simple cog like `cm!code` or `cm!source` which gives the GitHub repository link for the classroom-monitor-bot would be pretty useful in long term .

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-08-28 03:36] ctnkaan commented on #13
hey @kaiwalyakoparkar I can try this when I have time

[2021-08-29 06:02] kaiwalyakoparkar commented on #13
@ctnkaan go for it. I will assign it to you. Let me know if you need any help

[2021-08-29 06:04] #71 closed

[2021-09-01 11:01] Tan-Shadow opened #73 "Bot also replies in dm"
### Describe the bug

the bot will reply on the command even if its dm

### To Reproduce

Dm the bot `cm!help`
It will reply

### Expected Behavior

_No response_

### Screenshot/ Video

https://tanshadow.is-inside.me/JNGa5Jqn.png

### Desktop (please complete the following information)

_No response_

### Additional context

_No response_

[2021-09-01 12:41] Tan-Shadow opened #74 "[Feature]: Importing commands to index.js needs to be changed"
### Is your feature request related to a problem? Please describe.

So if a command is added we'll have to use `const command = require( 'commands/command' )`
This is will be bad once the code starts growing

### Describe the solution you'd like

there is a better way to add commands, like this we'll have to add every single command with `const ... = require(...)`
instead what we can do is
[code]

[2021-09-01 16:32] kaiwalyakoparkar commented on #74
Hey, @Tan-Shadow Nice thought. Would you like to go ahead with this issue?

[2021-09-01 16:37] kaiwalyakoparkar commented on #73
I guess commands work in DM :thinking:

[2021-09-01 16:46] Tan-Shadow commented on #74
yes but i would love to, but i will need a bit of help

[2021-09-01 16:48] Tan-Shadow commented on #73
my second issue has the solution for this one

[2021-09-01 20:19] Tan-Shadow commented on #74
Nevermind...i solved it made a pr

[2021-09-02 12:04] kaiwalyakoparkar commented on #69
@vishalda Thank you so much for your interest. Go ahead with it. You can follow yt tutorials. If I find any specific I will share it here :slightly_smiling_face:

[2021-09-04 17:35] SiddhantKhisty opened #77 "[Feature]: Add warnings for when non inclusive words are used."
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Currently we are using just carl bot to ask people only to refrain from using the word 'guys'. The classroom monitor can be configured to display a message saying something like "This word is not promoting inclusivity. Please use a inclusive word"
Possible words to warn for are

[2021-09-04 19:43] SiddhantKhisty commented on #77
Tried to implement this feature and opened a PR. Not sure if it works as i do not know how to test the bot. Please take a look at it when you have the time

[2021-09-06 07:32] vishalda commented on #69
Hey @kaiwalyakoparkar quick clarification,
Should it be like, the GitHub actions run the test for every PR checking if every command of bot works?
(New to writing tests)

[2021-09-07 12:05] kaiwalyakoparkar commented on #69
@vishalda Yes

[2021-09-07 20:32] ctnkaan commented on #77
Sorry tagged the wrong issue at my PR

[2021-09-09 22:50] #77 closed

[2021-09-21 07:46] ctnkaan commented on #13
PR #79 fixes this issue

[2021-09-21 20:51] shuklaritvik06 opened #80 "[Bug]: Small typo in README file"
### Describe the bug

Small typo in the README file

### To Reproduce

_No response_

### Expected Behavior

It should be Local

### Screenshot/ Video

![imageedit_1_9030410858](https://user-images.githubusercontent.com/72812470/134245659-b1efd20c-ea51-4960-8c41-c2a5dc07af05.png)

### Desktop (please complete the following information)

_No response_

### Additional context

_No response_

[2021-09-23 12:06] #13 closed

[2021-09-23 12:06] kaiwalyakoparkar commented on #80
Hey @shuklaritvik06 would you like to go ahead with this issue?

[2021-09-23 12:21] shuklaritvik06 commented on #80
Created a PR :)

[2021-09-23 15:09] #80 closed

[2021-09-24 11:27] ctnkaan opened #83 "[Feature]: Add Scam Detection"
### Is your feature request related to a problem? Please describe.

Scam malwares are increasing in Discord. These scam malwares basically transform users to bots. These infected users are then made to send infectious links to multiply them selves to all channels with @everyone tag.

### Describe the solution you'd like

These scam links are always the same. I have been gathering some data about t

[2021-09-24 12:53] ctnkaan commented on #83
@kaiwalyakoparkar feel free to assign this to me if you want it to be implemented 👍

[2021-09-25 08:38] kaiwalyakoparkar commented on #83
Thank you so much for the interest @ctnkaan. I have assigned it to you now

[2021-10-01 02:14] SiddhantKhisty opened #84 "[Bug]: Profane warning for 'Class'"
### Describe the bug

The bot sends a profance word warrning for the word 'Class'.

### To Reproduce

Type 'Class' with Community Monitor in your server.

### Expected Behavior

_No response_

### Screenshot/ Video

_No response_

### Desktop (please complete the following information)

_No response_

### Additional context

_No response_

[2021-10-01 02:33] krishguptadev commented on #84
How can I fix this issue?

[2021-10-01 02:33] krishguptadev commented on #73
Commands should not work in dms imo

[2021-10-01 02:37] SiddhantKhisty commented on #84
Issue Update: I think the error is with any word using with 'ss' eg: class, glass.

[2021-10-01 02:37] krishguptadev commented on #10
imho we should first start making markdown docs in a docs folder then try to add the docsify functionality

[2021-10-01 02:37] SiddhantKhisty commented on #84
@krishguptadev I think the issue is in the restrictedwords.js. Maybe some files need to be updated there but I cannot see any code lines there which might be causing the issue

[2021-10-01 02:40] krishguptadev commented on #69
ig we can't create tests for discord bots?

[2021-10-01 02:43] SiddhantKhisty commented on #84
I think the issue is being caused due to the word 'ass'. since the words 'class' and 'glass' have a substring of 'ass' It is throwing a warning when those workds are invoked. I think in order to solve this issue an excpetion file may have to be made that excludes 'ass' if it is a substring

[2021-10-01 03:02] krishguptadev commented on #84
How about using alexjs for the purpose? Just like EddieHubCommunity/EddieBot does that

[2021-10-01 03:03] SiddhantKhisty commented on #84
I dont know about alexjs, could you implement it please?

[2021-10-01 03:04] krishguptadev commented on #84
I am talking about this: https://alexjs.com/ Can I get assigned to implement alexjs instead of the old method?

[2021-10-01 03:08] SiddhantKhisty commented on #84
I'd really appreciate it if you could implement alexjs. I do not have the assignment permission but I will ask the maintainer to assign you this issue :)

[2021-10-01 05:48] guptasajal411 opened #88 "[Bug]: Typo in `restrictedWords.js`"
### Describe the bug

`Classroom monitor` is written as `Classroon monitor`

### To Reproduce

1. Go to `Commands/restrictedWords.js`
2. Check line no. 7

### Expected Behavior

It should be `Classroom monitor`

### Screenshot/ Video

![image](https://user-images.githubusercontent.com/70312106/135571857-7f928e4c-b373-4f4e-83d5-c7ed0c969467.png)

### Desktop (please complete the following informati

[2021-10-01 13:21] #84 closed

[2021-10-01 13:23] kaiwalyakoparkar commented on #69
@krishguptadev yes you are correct, I figured that out but forgot to close the issue

[2021-10-01 13:23] #69 closed

[2021-10-01 13:25] kaiwalyakoparkar commented on #73
Nope, that's okay. It becomes handy sometimes

[2021-10-01 14:23] krishguptadev commented on #73
What would you do after discord sets it to be as-if no messages can be read... They have that on their roadmap... Also replying in dms requires special setup after v13 this means they want us to avoid the use of dms in bots

[2021-10-01 14:25] krishguptadev commented on #10
I could add the docs if you could guide on what all do I have to add?

[2021-10-01 14:45] SiddhantKhisty opened #91 "[Bug]: Profane error for word 'Just'"
### Describe the bug

When the word `Just` is said, monitor gives a profane language warning

### To Reproduce

Type `Just` with bot in your server

### Expected Behavior

No error should be thrown for 'Just'

### Screenshot/ Video

_No response_

### Desktop (please complete the following information)

_No response_

### Additional context

_No response_

[2021-10-01 14:57] #91 closed

[2021-10-01 15:00] kaiwalyakoparkar commented on #73
Oh, I was not aware of this. :thinking: Then this makes sense. Please make a relative or for fixing this

[2021-10-01 15:05] #88 closed

[2021-10-05 04:43] #73 closed

[2021-10-10 04:51] #10 closed

[2021-10-15 22:18] SiddhantKhisty opened #99 "[Bug]: Profane Warning on wrong words"
### Describe the bug

The bot is throwing profane warnings for words which are not profane.
In order to solve this error:
1. Monitor the discord chat and make a list of words which are non profane but a warning is being thrown.
2. Add the words which you have found to the `allow` list in `Config.json`

Words that have been found up till now:
simple
simply
fellowship
guys
ball
Obviously
white
black

[2021-10-16 10:20] kaiwalyakoparkar commented on #99
@SiddhantKhisty Could you please add a word list?

[2021-10-16 10:25] SiddhantKhisty commented on #99
@kaiwalyakoparkar I'll add the words as I find them and complie the list

[2021-10-16 10:54] kaiwalyakoparkar commented on #99
@SiddhantKhisty Okay, please add it in the description of this issue

[2021-10-17 05:37] AtulPatil-me opened #100 "[Feature]: A command that pulls up instructions for asking code related help."
### Is your feature request related to a problem? Please describe.

A lot of people while asking for code-related questions use images of their code that are barely visible or they simply copy-paste their code in the channel chat which becomes very hard to debug due to weird formating.

### Describe the solution you'd like

A command that pulls up all the instructions to follow while asking code-r

[2021-10-17 05:38] AtulPatil-me commented on #100
Would love to work on this issue

[2021-10-17 17:13] AtulPatil-me commented on #100
![github](https://user-images.githubusercontent.com/67235572/137637807-855cf6bb-27e9-4c08-adad-4ee1115b31c6.png)

[2021-10-21 20:06] #83 closed

[2021-10-27 15:27] kaiwalyakoparkar opened #102 "[Feature]: Migration to slash commands"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-03 07:58] kaiwalyakoparkar opened #103 "[Bug]: Bot message for profane words is unclear"
### Describe the bug

Whenever a person uses a profane word the bot replies with `Please do not use profane language 🚫. If you think I did a mistake dont worry I am still under development, tag Community Manager and report this 🏷️.` message which brings confusion among the new members in the community.

### To Reproduce

1. Go to any channel is [Community Classroom Discord Server](https://discord.

[2021-11-03 08:03] #103 closed

[2021-11-09 05:25] kkhitesh opened #105 "[Bug]: Add Chinese, Japanese and American to the allowed list"
### Describe the bug

Add Chinese, Japanese and American to the allowed list

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

_No response_

### Desktop (please complete the following information)

_No response_

### Additional context

_No response_

[2021-11-09 05:36] kkhitesh opened #106 "[Bug]: Bot not capturing edtech startups"
### Describe the bug

_No response_

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

_No response_

### Desktop (please complete the following information)

_No response_

### Additional context

_No response_

[2021-11-09 13:37] kaiwalyakoparkar commented on #105
@kkhitesh Could you please raise a pr?

[2021-11-10 14:10] Vyvy-vi commented on #100
It would be neat, if we could set up some form of "tags" system here

[2021-11-10 16:42] kkhitesh commented on #105
Sure, but i can't find the allowed words config

[2021-11-11 15:17] #99 closed

[2021-11-11 15:32] Panquesito7 commented on #105
Here's the file for that: https://github.com/kaiwalyakoparkar/classroom-monitor-bot/blob/main/config.json

[2021-11-11 16:20] Panquesito7 opened #110 "[FEATURE] Add the Gitpod ready-to-code system"
### Is your feature request related to a problem? Please describe.

Adding the Gitpod ready-to-code system will make the process of compiling much easier in just a single click.

This is very useful when you want Gitpod to run `yarn` commands quickly for you and run the whole project quickly. It's much better than cloning the repository, reading the readme, installing the necessary tools, etc....

[2021-11-12 05:55] kkhitesh commented on #105
Thanks

[2021-11-12 16:10] #105 closed

[2021-11-14 03:00] Panquesito7 commented on #74
Is this already fixed or still being worked on it?

[2021-11-14 03:37] SiddhantKhisty commented on #110
@Panquesito7  Feel free to work on this and make a PR when ready

[2021-11-14 03:43] Panquesito7 commented on #110
Awesome, thanks! 😄

[2021-11-18 05:25] Tan-Shadow commented on #74
Fixed by #76

[2021-11-22 03:24] #74 closed

[2021-12-07 18:28] Panquesito7 opened #132 "[BUG] Add `remain` to the whitelist"
### Describe the bug

`remain` is something we should add to the whitelist, this is not a problem. 🙂

*If you already forked this repository, skip to step 3*

1. Fork the repository [**here**](https://github.com/commclassroom/classroom-monitor-bot/fork)
2. Go to the [`config.json`](https://github.com/commclassroom/classroom-monitor-bot/blob/main/config.json) file (make sure you're in your fork!).

[2021-12-07 18:31] venusaim23 commented on #132
Hey @Panquesito7 I'd like to work on this issue and get familiar with solving my first issue. Can you assign it to me?

[2021-12-07 21:09] #132 closed

[2021-12-08 13:15] unnikrishnan2002 opened #134 "[BUG] Classroom Bot giving warning for a common word"
### Describe the bug

The Classroom Monitor Bot is giving warnings on using the word `of course` which does seem like a regular word

### To Reproduce

- Texting the word `of course` in the Community Classroom Discord server

### Expected Behavior

To not give warnings

### Screenshot/ Video

![image](https://user-images.githubusercontent.com/76985777/145214154-96b2cacd-596d-46f6-a68e-523ce13d8bb5

[2021-12-09 17:09] SiddhantKhisty opened #135 "[Chore] Remove the error reply"
### What would you like to share?

CM gives a reply where it says it cannot understand certain languages. You must remove this line
![Screenshot_20211209-223454_Discord](https://user-images.githubusercontent.com/73576223/145442979-7c4154e7-319e-4f37-9970-7f59406daa3b.jpg)

### Additional information

_No response_

### Would you like to work on this issue?

- [ ] Yes, I want to work on this issue!

[2021-12-10 06:03] unnikrishnan2002 commented on #135
Can I work on this @SiddhantKhisty ?

[2021-12-10 06:04] #134 closed

[2021-12-10 07:16] SiddhantKhisty commented on #135
@unnikrishnan2002  go ahead

[2021-12-10 14:57] #135 closed

[2021-12-13 13:24] Kira272921 opened #138 "[FEATURE] Use regex instead of hard-coding the statements"
### Is your feature request related to a problem? Please describe.

You can use regex to prevent the nitro and steam scams, instead of hard coding the statements

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-12-14 17:54] Panquesito7 opened #139 "[BUG] Add `hook` to the list"
### Describe the bug

### Describe the bug

`hook` is something we should add to the whitelist, this is not a problem. 🙂

*If you already forked this repository, skip to step 3*

1. Fork the repository [**here**](https://github.com/commclassroom/classroom-monitor-bot/fork)
2. Go to the [`config.json`](https://github.com/commclassroom/classroom-monitor-bot/blob/main/config.json) file (make sure you

[2021-12-15 19:20] #139 closed

[2021-12-16 05:12] DhansAL opened #141 "[FEATURE] Add custom log and error handlers"
### Is your feature request related to a problem? Please describe.

I'd like a custom logger rather than console logging things as I can't see sensitive things like the severity of the bug, where it's coming from precisely.

### Describe the solution you'd like

A utility function that logs things and errors, with additional functionality related to logging.

### Describe alternatives you've consi

[2021-12-16 05:13] DhansAL commented on #141
i'd take this issue

[2021-12-17 03:29] DhansAL opened #143 "[BUG] Adapt to discord v13"
### Describe the bug

This bot currently uses discord.js v `12.5.3`. adapt to the latest v13.0 . this will introduce certain features and code-breaking changes

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

_No response_

### Desktop (please complete the following information)

_No response_

### Additional context

_No response_

[2021-12-20 12:28] DhansAL commented on #102
I'd like to try this one ^_^

[2021-12-20 18:39] Panquesito7 commented on #102
Feel free to work on it! Let us know if you need any help. :)

[2021-12-28 10:20] DhansAL commented on #102
this requires discord v13. I'll make the changes accordingly.

[2021-12-30 20:43] genzyy opened #147 "[BUG] use `const` instead of `let`"
### Describe the bug

It's not a bug but its a way of declaring the variable as constant if its not changing.

I think we can use constant variables here instead of using let.

### To Reproduce

Check this file.

### Expected Behavior

Using `const` instead of `let`.

### Screenshot/ Video

_No response_

### Desktop (please complete the following information)

Device - Device independent
OS - OS

[2021-12-31 06:19] #147 closed

[2021-12-31 12:15] genzyy commented on #106
I am up for this if this issue is needed to be fixed.

[2022-01-01 01:14] Panquesito7 commented on #106
Yes, I think this hasn't been fixed yet. 😅

[2022-01-01 04:28] genzyy commented on #106
Sure, I will make a PR for fixing this.

[2022-01-01 07:53] unnikrishnan2002 opened #150 "[FEATURE] Remove warning message from the CM Bot when a user updates their message."
### Is your feature request related to a problem? Please describe.

The Bot gives warning when inclusive language is not used. But the warning message is not removed after the user updates their message accordingly.

### Describe the solution you'd like

The Bot should remove the warning message after the user updates their message

### Describe alternatives you've considered

_No response_

### A

[2022-01-01 08:00] unnikrishnan2002 opened #151 "[BUG] Add "UK" to whitelist"
### Describe the bug

Since it represents a place and it doesn't convey any wrong meaning to anyone it should be removed from blacklist.

### To Reproduce

_No response_

### Expected Behavior

Don't give warnings for place names

### Screenshot/ Video

_No response_

### Desktop (please complete the following information)

_No response_

### Additional context

_No response_

[2022-01-01 08:00] unnikrishnan2002 commented on #151
Can I try that ?

[2022-01-02 04:17] Panquesito7 commented on #151
Of course! Feel free to work on it! Let us know if you need any help! 😃

[2022-01-02 06:07] unnikrishnan2002 commented on #151
Hey @Panquesito7 Can you please point our the file location where I need to make the changes?

[2022-01-02 09:08] #106 closed

[2022-01-02 13:39] unnikrishnan2002 commented on #151
Ohh ,okay I have to add it in config.json right?

[2022-01-03 08:48] #151 closed

[2022-01-03 16:11] SiddhantKhisty opened #154 "[BUG] Trigger for Whitespace"
### Describe the bug

The bot triggers a warning for the word `whitespace`

Add the word to the whitelist

### To Reproduce

Type `whitespace` with the bot in your server

### Expected Behavior

_No response_

### Screenshot/ Video

![Screenshot_20220103-213843_Discord](https://user-images.githubusercontent.com/73576223/147953268-0ce1dcc3-e5cf-4376-8347-fbc5680e175f.jpg)

### Desktop (please compl

[2022-01-04 06:50] genzyy opened #155 "[BUG] use of undefined variable"
### Describe the bug

In this file `customMessage` is being used which is actually an undefined variable in the codebase and because of this its failing atleast for me when I run the bot locally on my discord server.

### To Reproduce

1. Run the bot locally according to the instructions given in the root folder readme.
2. Try out the bot on your server by sending messages with restricted words an

[2022-01-04 10:05] Ameen-Here commented on #154
Can I take up this issue?
I would love to sort it out.

[2022-01-04 11:05] #154 closed

[2022-01-04 11:05] #155 closed

[2022-01-08 13:31] DhansAL commented on #143
closing this issue as it was resolved by previous pulls

[2022-01-08 13:31] #143 closed

[2022-01-08 13:31] #141 closed

[2022-01-08 13:32] DhansAL commented on #102
this issue has been resolved

[2022-01-09 02:33] #102 closed

[2022-01-09 13:50] VishalLudhrani opened #157 "[FEATURE] Don't prompt for restricted links if a DM is sent to the concerned sender."
### Is your feature request related to a problem? Please describe.

When the bot restricts unauthorized members to send links that aren't identified as trustworthy, the bot deletes that message and leaves a prompt on the channel where the link was sent.
The bot also sends a DM to the concerned member.
This becomes redundant, and the channels sometimes get filled with such prompts.

### Describe th

[2022-01-10 01:23] VishalLudhrani commented on #157
Seems I opened an issue in the wrong repository. Apologies!

[2022-01-10 01:23] #157 closed

[2022-01-10 04:05] Panquesito7 opened #158 "[BUG] Commands/slash commands not working"
### Describe the bug

The previous non-slash commands do not work right now (which is totally normal), but the slash commands do not work either. Do we have to re-add the bot to the server to make it work properly? Any other ideas? Thanks. :)

### To Reproduce

_No response_

### Expected Behavior

The slash commands should be on the commands list and work as excepted.

### Screenshot/ Video

_No

[2022-01-11 18:46] Panquesito7 commented on #158
@DhansAL, would you like to help us with this? Thanks. 🙂

[2022-01-12 12:38] DhansAL commented on #158
can you tell me more about the bug because it runs fine when I try to run it locally

[2022-01-12 17:28] Panquesito7 commented on #158
There are no slash commands on the commands list (this I already explained above) in the server.

[2022-01-14 04:39] DhansAL commented on #158
can you try re-adding the bot on the server? and try to refer to [this ](https://docs.beccalyria.com/#/deploy-code)while giving bot permissions

[2022-01-14 04:53] Panquesito7 commented on #158
Sure, I'll try that in a few hours, thanks. 👍

[2022-01-16 03:32] DhansAL commented on #158
did it work? @Panquesito7

[2022-01-16 03:40] Panquesito7 commented on #158
Haven't tried yet. I'll let you know when I do so. 🙂

[2022-01-29 11:40] DhansAL commented on #158
Any updates @Panquesito7  ??

[2022-01-30 03:20] Panquesito7 commented on #158
Siddhant re-added the bot with the needed permissions, but the bot hasn't been back online yet, so I'm not sure if it's going to work 😅 I'll let you know if it's online and works. Thanks!

[2022-02-24 13:29] genzyy commented on #150
Hey, I have an idea to implement this. Let me know if I can work on it or is there a better way to do this,

[code]

- Line 2 matches given string with the given words using regex and returns all the words that matched.
- So the returned array's length is same as number of words we matched, then its a scam message.

[2022-02-24 14:47] Panquesito7 commented on #150
Looks good! 🚀 What do you think, @kaiwalyakoparkar, @SiddhantKhisty?

[2022-02-24 15:05] SiddhantKhisty commented on #150
@Panquesito7  correct me if I'm wrong, but this looks like a solution for a different issue entirely🙂
And we have solved the issue of scam links using becca bot

[2022-02-24 15:30] kaiwalyakoparkar commented on #150
Yeah @SiddhantKhisty I feel the same. I don't see any code which checks for updated message or similar. I might be wrong. @genzyy could you please explain it maybe?

[2022-02-24 18:32] genzyy commented on #150
My bad!, I mistakenly added this code on a different issue than which I intended this solution for. Really sorry for that.

[2022-02-24 18:32] genzyy commented on #138
Hey, I have an idea to implement this. Let me know if I can work on it or is there a better way to do this,

[code]

- Line 2 matches given string with the given words using regex and returns all the words that matched.
- So the returned array's length is same as number of words we matched, then its a scam message.

[2022-02-25 06:00] Kira272921 commented on #138
Hey @genzyy 👋. I meant using regex for the steam scam links and not the actually message which would be sent along with that link. Most of the steam scam links are similar, while the scam message may vary.

[2022-11-22 19:24] Panquesito7 opened #161 "[BUG] Outdated links/content"
### Describe the bug

The organization name was renamed to `WeMakeDevs`, the same for the whole community.
All links and various logos/content are currently outdated and must be updated immediately.

### To Reproduce

_No response_

### Expected Behavior

All `commclassroom` links should be updated to  `WeMakeDevs`. Content should be updated to match the new branding as well.

### Screenshot/ Vide

[2022-11-23 01:13] nathan-ashman commented on #161
Hello, I would like to help you with this. I can adjust the links to WeMakeDevs. Depending on how many there are, I can complete this in maybe 2 days.

[2022-11-23 15:26] Panquesito7 commented on #161
Hello! Sure, feel free to work on it. :)
Fixing this shouldn't be hard. Mostly check all the documentation files, contributing, and readme. The content can be fixed in another PR.

If you need any help, let us know! Thanks.